.background-container {
	width:80vw;
	height: 80vh;
	background-image: url("../../resources/Pokmon\ Center.png");
	background-repeat: no-repeat;
	background-size: cover;
	margin: auto;
	border: 2px solid black;
	border-radius: 20px;
	display: flex; /* Make the background-container a flex container */
	flex-direction: column; /* Set the main axis to vertical */
	justify-content: flex-end; /* Align items to the end of the main axis (bottom) */
}
